@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
.main {
  .contentsWrap {
    width: 100%;
    overflow: hidden;
  }

  .mainImg {
    width: 100%;
    min-width: 280px;
    height: 100vh;
    min-height: 970px;
    background-image: url("../img/mainBg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    top: 0;
    position: relative;
    left: 0;
    z-index: 0;
  }

  .mainBottom {
    position: absolute;
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    min-width: 1320px;
    height: 160px;
    background-image: url("../img/mainBottom.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: repeat-x;
    z-index: 1;
  }

  .characterWrap {
    font-size: 0;
    position: absolute;
    bottom: 130px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
  }
  .mainTitle {
    width: 100%;
    font-size: 100px;
    text-align: center;
    color: #ff8413;
    font-family: "Luckiest Guy", cursive;
    font-weight: 800;
    position: absolute;
    z-index: 3;
    top: 50px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px #fff;
  }
  .mainTitle2 {
    width: 100%;
    position: absolute;
    display: none;
    z-index: 3;
    text-align: center;
    top: 0px;
  }
  .mainTitle2 b {
    color: #ff2333;
    font-size: 120px;
    font-family: "Alfa Slab One", cursive;
    font-weight: 800;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px #fff;
    line-height: 100px;
  }
  .countDown {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    line-height: 50px;
    -webkit-text-stroke: 1px #fff;
    color: #fff;
  }
  .countDate {
    font-size: 30px;
    line-height: 50px;
    font-weight: 800;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0px #fff;
    color: #fff;
    font-family: "NanumSquareRound";
  }
  .mainSubtitle {
    color: #ff8413;
    font-size: 50px;
    font-family: "Alfa Slab One", cursive;
    font-weight: 800;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  .character {
    width: 1280px;
    height: 720px;
    display: inline-block;
    vertical-align: top;
    background: url("../img/main_both.png") center no-repeat;
    background-size: contain;
  }

  .contents {
    max-width: 1320px;
    min-width: 280px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .contentsTitle {
    font-size: 26px;
    line-height: 36px;
    font-weight: 800;
    text-align: center;
    font-family: "NanumSquareRound";
    color: #111;
  }

  .blackArea {
    width: 100%;
    height: 100px;
  }

  .contentsText {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    font-family: "NanumSquareRound";
    color: #111;
  }

  .collectionText {
    font-size: 17px;
    line-height: 24px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    font-family: "NanumSquareRound";
    color: #111;
  }

  .contentsBox {
    font-size: 0;
    vertical-align: top;
  }

  .collection {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
  }

  .collection:nth-child(5n) {
    margin-right: 0px;
  }

  .collectionImg {
    width: 100%;
    height: 320px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    position: relative;
  }

  .collectionImg > div.imgArea > img {
    width: 100%;
    height: inherit;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .collectionImg > div.imgArea {
    width: 100%;
    height: inherit;
    overflow: hidden;
    background: url("../img/blank.png") #f2f3f5 center no-repeat;
    background-size: cover;
  }

  .collectionImg:hover > div.imgArea > img {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

  .popupWrap {
    width: 100%;
    min-width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    display: none;
  }

  .popupBg {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 400;
  }

  .popup1 {
    display: none;
    width: 1000px;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
    position: fixed;
    font-size: 0;
    z-index: 401;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .popupClose {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    background: url("../img/iconClose.svg") center no-repeat;
    background-size: 18px;
  }

  .popupLeft {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .popupRight {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
  }

  .soldOut {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background: url("../img/soldOut.png") rgba(255, 255, 255, 0.7) center no-repeat;
    background-size: 80%;
  }

  .closed {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background: url("../img/closed.png") rgba(255, 255, 255, 0.7) center no-repeat;
    background-size: 80%;
  }

  .popupImg {
    width: 500px;
    height: auto;
    background-size: cover;
    background: url("../img/blank.png") #f2f3f5 center no-repeat;
    display: inline-block;
  }

  .popupImg > img {
    width: 100%;
  }

  .popup1 .popupTitle {
    width: 100%;
    font-size: 26px;
    line-height: 36px;
    font-weight: 800;
    text-align: left;
    font-family: "NanumSquareRound";
    display: inline-block;
  }
  .popup3 .popupTitle {
    width: 120px;
    font-size: 26px;
    line-height: 45px;
    font-weight: 800;
    text-align: left;
    font-family: "NanumSquareRound";
    display: inline-block;
  }

  .popup1 .popupText,
  .popup3 .popupText {
    font-size: 17px;
    line-height: 34px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
    font-family: "NanumSquareRound";
    color: #111;
    display: inline-block;
  }

  .popup1 .popupSubtitle {
    width: 80px;
    font-weight: 800;
    font-size: 17px;
    line-height: 34px;
    text-align: left;
    font-family: "NanumSquareRound";
    color: #111;
    display: inline-block;
    vertical-align: top;
  }
  .popup3 .popupSubtitle {
    width: 120px;
    font-weight: 800;
    font-size: 17px;
    line-height: 34px;
    text-align: left;
    font-family: "NanumSquareRound";
    color: #111;
    display: inline-block;
    vertical-align: top;
  }

  .blue {
    font-size: 24px;
    color: #3129cc;
    font-weight: 800;
    vertical-align: top;
    line-height: 34px;
    font-family: "NanumSquareRound";
  }

  .buyNumber {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 0 0 50px 0;
    margin-top: 20px;
    border-bottom: solid 1px #ddd;
  }

  .btnBuy {
    font-weight: 800;
    font-family: "NanumSquareRound";
    color: #fff;
  }
  .mainImg .btnBuy {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    font-size: 26px;
    background: -o-linear-gradient(top, #ff6700, #ff2333);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6700), to(#ff2333));
    background: linear-gradient(to bottom, #ff6700, #ff2333);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100px;
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mainImg .btnBuy:hover {
    -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  }
  .popup1 .btnBuy {
    width: 150px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 17px;
    background: -o-linear-gradient(top, #4932dc, #1d1a84);
    background: -webkit-gradient(linear, left top, left bottom, from(#4932dc), to(#1d1a84));
    background: linear-gradient(to bottom, #4932dc, #1d1a84);
  }
  .popup3 .btnBuy {
    width: 150px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    position: absolute;
    right: 40px;
    bottom: 44px;
    font-size: 17px;
    background: -o-linear-gradient(top, #4932dc, #1d1a84);
    background: -webkit-gradient(linear, left top, left bottom, from(#4932dc), to(#1d1a84));
    background: linear-gradient(to bottom, #4932dc, #1d1a84);
  }

  .quantity {
    position: relative;
    padding: 0 10px;
    height: 45px;
    float: right;
    font-size: 0;
    border-radius: 25px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .quantity input {
    width: 60px;
    height: 100%;
    line-height: 45px;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #fff;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
  }

  .quantity input:focus {
    outline: 0;
  }

  .quantity-nav {
    display: inline-block;
    position: relative;
    height: 100%;
    height: 100%;
  }

  .quantity-button {
    position: relative;
    cursor: pointer;
    width: 45px;
    text-align: center;
    color: #666;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .quantity-button.quantity-up {
    display: inline-block;
    height: 45px;
    width: 45px;
    background: url("../img/plus.svg") center no-repeat;
    background-size: 50px;
  }

  .quantity-button.quantity-down {
    height: 45px;
    width: 45px;
    display: inline-block;
    background: url("../img/minus.svg") center no-repeat;
    background-size: 50px;
  }

  .popup2 {
    text-align: center;
    display: none;
    width: 650px;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
    position: fixed;
    font-size: 0;
    z-index: 401;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .popup3 {
    text-align: left;
    display: none;
    width: 500px;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
    position: fixed;
    font-size: 0;
    z-index: 401;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .popup2 .popupSubtitle {
    width: 100%;
    font-weight: 800;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    font-family: "NanumSquareRound";
    color: #111;
    display: block;
    margin-top: 20px;
  }

  .popup2 .popupTitle {
    width: 100%;
    font-size: 26px;
    line-height: 36px;
    font-weight: 800;
    text-align: center;
    font-family: "NanumSquareRound";
    display: block;
  }
  .popup2 .popupText {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-family: "NanumSquareRound";
    color: #111;
    display: block;
  }

  .popupCode {
    width: 100%;
    text-align: center;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
  }

  .popupCode img {
    width: 150px;
  }

  .popupBox {
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 5px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-family: "NanumSquareRound";
    color: #111;
    padding: 10px 10px 10px 10px;
    position: relative;
  }

  .popupBoxAddress {
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 5px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-family: "NanumSquareRound";
    color: #111;
    padding: 10px 10px 10px 10px;
    position: relative;
  }

  .popupBox > input:focus {
    outline: none;
  }
  .popupBox > input {
    width: 50px;
    height: 100%;
    border: none;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-family: "NanumSquareRound";
    color: #111;
    display: inline-block;
  }

  .popupBoxAddress .address {
    width: 90%;
    height: 100%;
    border: none;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-family: "NanumSquareRound";
    color: #111;
    display: inline-block;
  }
  
  .btnCopy {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
  }

  .popupBox.red {
    background: #ff2333;
    border: solid 1px #ff2333;
    color: #fff;
    padding: 10px;
    line-height: 20px;
  }

  .popupBox.red a {
    color: #fff;
    font-weight: 800;
    text-decoration: underline;
  }

  .row {
    width: 100%;
    line-height: 34px;
    text-align: left;
  }

  @media all and (max-width: 1319px) {
    .mainTitle {
      top: 0;
      font-size: 70px;
    }
    .mainTitle2 b {
      font-size: 70px;
    }
    .mainSubtitle {
      font-size: 40px;
    }
    .mainImg .btnBuy {
      bottom: 80px;
    }
    .mainImg {
      height: 100vh;
      min-height: auto;
    }

    .mainBottom {
      height: 110px;
    }

    .characterWrap {
      bottom: 100px;
    }
    .collection:nth-child(5n) {
      margin-right: 20px;
    }
    .collection:nth-child(4n) {
      margin-right: 0px;
    }

    .contents {
      width: 1060px;
      margin: 0 auto;
    }

    .blackArea {
      height: 50px;
    }

    .popup1 {
      width: 460px;
      min-width: 252px;
      max-height: 90vh;
      overflow: scroll;
      padding: 30px;
    }

    .popupLeft {
      display: block;
      width: 100%;
      text-align: center;
    }

    .popupRight {
      width: 100%;
      display: block;
      padding-left: 0px;
      margin-top: 20px;
    }

    .popupImg {
      width: 400px;
      height: auto;
    }

    .popup2,
    .popup3 {
      padding: 30px;
    }
  }
  @media all and (max-width: 1059px) {
    .contents {
      width: 820px;
      margin: 0 auto;
    }
    .collection:nth-child(4n) {
      margin-right: 20px;
    }
    .collection:nth-child(3n) {
      margin-right: 0px;
    }
  }

  @media all and (max-width: 819px) {
    .popup1 {
      width: 360px;
    }

    .popupImg {
      width: 300px;
      height: auto;
    }

    .popup2 {
      width: 90%;
      min-width: 252px;
      max-height: 90vh;
      overflow: scroll;
    }

    .character {
      height: 600px;
    }

    .mainImg {
      height: 95vh;
    }
    .contents {
      width: 530px;
      margin: 0 auto;
    }
    .collection {
      width: 150px;
      margin-top: 30px;
    }
    .collectionImg {
      height: 200px;
      width: 100%;
    }


  }

  @media all and (max-width: 667px) {
    .mainTitle {
      font-size: 50px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .countDown {
      font-size: 24px;
      line-height: 30px;
    }
    .mainTitle2 b {
      font-size: 50px;
      line-height: 50px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .mainSubtitle {
      font-size: 24px;
      line-height: 30px;
    }

    .countDate {
      font-size: 20px;
      line-height: 30px;
    }

    .popup1 {
      width: 310px;
    }

    .popupImg {
      width: 250px;
      height: auto;
    }

    .popup1 .popupText {
      font-size: 15px;
    }
    .popup3 {
      width: auto;
      min-width: 252px;
      max-height: 90vh;
      overflow: scroll;
    }
    .popup3 .popupText {
      width: 100%;
      font-size: 15px;
      text-align: center;
    }
    .popup3 .popupTitle {
      width: 100%;
      text-align: center;
    }
    .popup3 .btnBuy {
      position: inherit;
      margin-top: 20px;
    }
    .popup3 .quantity {
      float: left;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-top: 10px;
    }

    .popup1 .popupSubtitle {
      font-size: 15px;
      width: 70px;
      line-height: 24px;
    }
    .popup3 .popupSubtitle {
      font-size: 15px;
      line-height: 24px;
      width: 100px;
    }
    .popup1 .row {
      line-height: 24px;
    }
    .blue {
      line-height: 24px;
    }

    .popup2 .popupText {
      font-size: 15px;
      line-height: 20px;
    }

    .contentsText {
      font-size: 15px;
      line-height: 25px;
    }

    .contentsTitle {
      font-size: 22px;
    }

    .popup1 .popupTitle {
      font-size: 22px;
    }

    .popup2 .popupTitle {
      font-size: 22px;
    }

    .character {
      height: 400px;
    }

    .popupWrap .btnBuy {
      width: 100px;
      height: 45px;
      line-height: 45px;
    }
    .mainImg .btnBuy {
      bottom: 20px;
    }

    .popupBoxAddress {
      width: 100%;
      border: solid 1px #ddd;
      border-radius: 5px;
      font-size: 15px;
      line-height: 20px;
      text-align: left;
      font-family: "NanumSquareRound";
      color: #111;
      padding: 10px 10px 10px 10px;
      position: relative;
    }
  }
  @media all and (max-width: 529px) {
    .contents {
      width: 360px;
      margin: 0 auto;
    }
    .collection:nth-child(3n) {
      margin-right: 20px;
    }
    .collection:nth-child(2n) {
      margin-right: 0;
    }
    .mainImg .btnBuy {
      width: 150px;
      height: 50px;
      border-radius: 30px;
      line-height: 50px;
      font-size: 18px;
    }
    .popupBoxAddress {
      width: 100%;
      border: solid 1px #ddd;
      border-radius: 5px;
      font-size: 15px;
      line-height: 20px;
      text-align: left;
      font-family: "NanumSquareRound";
      color: #111;
      padding: 10px 10px 10px 10px;
      position: relative;
    }
    .main .collectionText,
    .main .contentsText {
      font-size: 14px;
      line-height: 17px;
    }
  }

  @media all and (max-width: 359px) {
    .collectionImg {
      height: 146px;
    }
    .collection:nth-child(1n) {
      margin-right: 20px;
    }
    .collection:nth-child(2n) {
      margin-right: 0px;
    }

    .popup1 {
      width: 90%;
    }

    .popupImg {
      width: 190px;
      height: auto;
    }

    .character {
      height: 300px;
    }
    .mainTitle {
      font-size: 30px;
    }

    .collection {
      width: 110px;
      margin-right: 0;
    }

    .contents {
      width: 270px;
      margin: 0 auto;
    }
    .countDown {
      font-size: 18px;
      line-height: 20px;
    }
    .mainTitle2 b {
      font-size: 30px;
      line-height: 30px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .mainSubtitle {
      font-size: 18px;
      line-height: 20px;
    }

    .countDate {
      font-size: 14px;
      line-height: 20px;
    }

    .popupBoxAddress {
      width: 100%;
      border: solid 1px #ddd;
      border-radius: 5px;
      font-size: 15px;
      line-height: 20px;
      text-align: left;
      font-family: "NanumSquareRound";
      color: #111;
      padding: 10px 10px 10px 10px;
      position: relative;
    }
  }
}
